/* styles.css */

/* Background image for INDEX */
body.index {
    background-image: url('../Images/SunsetArches.jpeg');
    /* Set background size and other properties as per your requirement */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* Background image for OUR STORY */
  body.page2 {
    background-image: url('../Images/RockyMountain-kelsey-14535106.jpg');
    /* Set background size and other properties as per your requirement */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* Add more styles here for other pages as needed */
  